<div class="story-editor-wrapper">
  <div>
    <button
      *ngIf="isFormOpen===false"
      mat-raised-button
      color="primary"
      (click)="toggleForm()" 
    >
      Open Story Editor
    </button>
    <button
      *ngIf="isFormOpen"
      mat-button
      (click)="toggleForm()"
    >
      Close
    </button>
  </div>

  <div *ngIf="isFormOpen">
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Author:"
          [(ngModel)]="author"
          name="author"
        >
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Story:"
          [(ngModel)]="story"
          name="story"
        >
        </textarea>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input
          matInput
          placeholder="Image:"
          [(ngModel)]="image"
          name="image"
        >
      </mat-form-field>
    </form>
    <button
      mat-raised-button
      color="primary"
      (click)="submitStory()"
    >
      Submit
    </button>
  </div>
</div>